/*ADDED GOOGLE FONTS
font-family: 'Satisfy'*/
form label {
	display: block;
}

body {
	font-family: 'Satisfy', cursive;
	width: 100%;
	height: 100%;
}

.button {
	display: block;
	margin: 0 auto;
}

.formBox {
	padding: 10px 0 10px 0;
}

.nameOfTest {
	text-align: center;
}

.formContainer {
	position: relative;
	width: 250px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
}

.formContainer h2 {
	font-weight: bold;
}
.formContainer h1 {
	padding: 5px 0 5px 0;
	font-weight: bold;
	font-size: 19px;
}

.checkButton{
	margin: 0 auto;
}

.resultsWrapper {
	position: absolute;
	top:3px;
	width: 100%;
	height: 100%;
	background: rgba(42, 72, 113, 0.5);
	z-index: 3;
}

.resultsBox {
	border: 2px solid black;
	border-radius: 5px;
	width: 220px;;
	height: 100px;
	min-width: 180px;
	margin: 0 auto;
	margin-top: 20%;
	margin-top: 10%;
	background-color: white;
	text-align: center;
}

.resultsBox span {
	line-height: 51px;
}
